/* stylelint-disable no-eol-whitespace */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Lato:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --textColor1: #008cff;
  --textColor2: #fff;
  --textColor3: #737594;
}

body {
  font-family: "Rubik Vinyl", serif;
  background: #def5f8;
}

header {
  width: 100%;
  padding: 40px;
  margin: auto;
  background-image: linear-gradient(40deg, rgb(255 0 0) 60%, orange);
}

header nav {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  background-image: linear-gradient(40deg, rgb(255 0 0) 60%, orange);
  color: #fff;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 60%;
  margin: auto;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: start;
  width: 100%;
}

.borad-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.gradient-text {
  background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 36px;
}

.infos {
  display: flex;
  flex-direction: column;
  border: 1px solid #696565;
}

.info {
  font-size: 22px;
  font-family: 'Lacquer', serif;
  padding: 8px 15px 8px 20px;
  border-radius: 25px;
}

.info:nth-child(odd) {
  background: orange;
  color: #fff;
}

.score {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form {
  background: -webkit-linear-gradient(bottom, #2dbd6e, #a6f77b);
  background-repeat: no-repeat;
  padding: 40px;
  border-radius: 25px;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.input h2 {
  padding: 20px;
  text-align: center;
  font-size: 36px;
  background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input input {
  height: 40px;
  width: 300px;
  padding-left: 20px;
  border-radius: 25px;
  border: 1px solid #6942ef;
}

.submit {
  width: 50%;
  margin-left: 50%;
}

button {
  width: 80px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}

.button {
  color: var(--textColor2);
  border-radius: 26px;
  background-image: linear-gradient(90deg, #0065ff, #6942ef, #6554c0, #008cff, #0065ff, #6942ef);
  background-size: 400%;
  background-position: 0% 0%;
  border: none;
  cursor: pointer;
  width: 100px;
}

.my_scroll_div {
  overflow-y: auto;
  max-height: 400px;
  padding: 40px;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(40deg, rgb(255 0 0) 60%, orange);
}
