* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(197, 197, 197, 0.639);
}

header {
  width: 80%;
  padding: 40px;
  margin: auto;
}

header nav {
  font-size: 28px;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 50%;
  margin: auto;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.borad-header {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.infos {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  border: 1px solid #696565;
  border-radius: 5px;
  padding: 12px;
}

.info {
  font-size: 14px;
  padding: 8px;
  border-radius: 5px;
}

.info:nth-child(odd) {
  background: #fff;
}

.score {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input h2 {
  margin-bottom: 23px;
}

.input input {
  height: 40px;
  width: 300px;
  padding-left: 20px;
  border-radius: 5px;
}

.submit {
  width: 50%;
  margin-left: 50%;
}

button {
  width: 80px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}
